_/
bin/
obj/
\#*\#
.*
!.git*
*~
*.bak
*.swp
*.swo
*.su
*.gch
*.out
*.o
/config.mk
/src/lib/libgamma-config.h
/src/lib/wayland-*-protocol.c
/src/lib/wayland-*-protocol.h
*.info
*.info-*
*.pdf
*.dvi
*.ps
*.tar
*.gz
*.bz2
*.xz

